/* --- 전체 감싸는 css ---*/
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 72px;

  z-index: 1000;

  background: #fff;

}


/* --- 양옆 여백을 화면에 따라 자연스럽게 나누는 것 ---*/
.inner{
  height: 72px;
  max-width: 1440px;
  margin: 0 auto;

  /* 이 부분 중요 */
  /* 최소 16px, 화면이 커지면 5vw 씩 늘어나고, 최대 120px에서 멈춤*/
  padding: 0 clamp(16px, 5vw, 120px);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  box-sizing: border-box;
}

/* --- (좌측)로고 감싸는 부분 ---*/
.left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logoImage {
  display: block; /* 이미지 하단 여백 제거 */
  cursor: pointer;
}


/* --- (중간)네비게이션 감싸는 부분 ---*/
.nav {
  display: flex;
  align-items: center;
  gap: 50px;

  margin-left: 136px; /* 로고와 카테고리 글자 사이 간격*/
  margin-right: auto;
}

/* --- 내비게이션 내용 ---*/
.navItem {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #111;
  text-decoration: none;

  white-space: nowrap;

  box-sizing: border-box;

}

/* --- 내비게이션 글자: hover ---*/
.navItem:hover {
  color: #6a3df6;
}

.active {
  color: #6a3df6 !important;
}

/* Active일 때 밑줄 (lineDiv 역할) */
.active::after {
  content: "";
  position: absolute;
  
  bottom: -13.5px; /* 13.5px 아래에 */ 
  left: 0;
  width: 100%;
  
  /* border-top: 2px solid #6a3df6; 와 동일한 효과 */
  height: 2px;
  background-color: #6a3df6;
}


/* --- (우측) 감싸는 부분 ---*/
.rights {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* --- 로그인 버튼 ---*/
.loginBtn {
  width: 85px;
  height: 32px;
  border: 1px solid #6A3DF6;
  border-radius: 28px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 4px;

  font-size: 14px;
  font-weight: 600;
  color: #6a3df6;
  text-decoration: none;
}

/* --- 로그인 버튼: hover ---*/
.loginBtn:hover {
  background: #f5f5f5;
}