/* --- 전체 감싸는 css ---*/
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 69px;

  z-index: 1000;

  background: transparent;
  border-bottom: 1px solid transparent;

  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* --- 스크롤이 내려갔을 때 적용될 클래스 ---*/
.scrolled{
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

/* --- 양옆 여백을 화면에 따라 자연스럽게 나누는 것 ---*/
.inner{
  height: 69px;
  max-width: 1440px;
  margin: 0 auto;

  /* 이 부분 중요 */
  /* 최소 16px, 화면이 커지면 5vw 씩 늘어나고, 최대 120px에서 멈춤*/
  padding: 0 clamp(16px, 5vw, 120px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  box-sizing: border-box;
}

/* --- (좌측)로고 감싸는 부분 ---*/
.left {
  display: flex;
  align-items: center;
}

/* --- 로고: 글자 (이미지 들어오면 바꾸기) ---*/
.logo {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: #4f46e5; 
  line-height: 1;
}


/* --- (중간)네비게이션 감싸는 부분 ---*/
.nav {
  display: flex;
  align-items: center;
  gap: 50px;

  margin-left: 136px; /* 로고와 카테고리 글자 사이 간격*/
  margin-right: auto;
}

/* --- 내비게이션 내용 ---*/
.navItem {
  font-size: 14px;
  font-weight: 600;
  color: #111;
  text-decoration: none;
}

/* --- 내비게이션 글자: hover ---*/
.navItem:hover {
  opacity: 0.8;
}


/* --- (우측) 감싸는 부분 ---*/
.rights {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* --- 검색 바(테두리 박스) ---*/
.search {
  width: clamp(200px, 22vw, 302px);
  background: #fff;

  height: 32px;
  border: 1px solid #bfbfbf;
  border-radius: 32px;
  padding: 4px 12px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

/* --- 검색 바: 아이콘 + input 한 줄로 ---*/
.searchInner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* --- 검색 바: 들어가는 글씨 ---*/
.searchInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

  font-size: 14px;
  color: #111;
}

/* --- 검색 바: placeholder ---*/
.searchInput::placeholder {
  color: #767676;
}

/* --- 로그인 버튼 ---*/
.loginBtn {
  width: 85px;
  height: 32px;
  border: 1px solid #6A3DF6;
  border-radius: 28px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 4px;

  font-size: 14px;
  font-weight: 600;
  color: #6A3DF6;
  text-decoration: none;
}

/* --- 로그인 버튼: hover ---*/
.loginBtn:hover {
  background: #f5f5f5;
}