
/* --- 배너 --- */
.banner{
  height: 544px;
  background: #e6e6e6;
  position: relative;
}

/* 배너: 좌우 여백 + 하단 여백 */
.bannerInner {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;

  padding:0 clamp(16px, 5vw, 120px) 68px; /* 아래 여백 68px */

  box-sizing: border-box;

  /* 버튼 위치 제어 */
  display: flex;
  align-items: center;        /* 세로 중앙 기준 */
  justify-content: center;    /* 가로 중앙 */

  position: relative;
}


/* --- 진행중인 청원 버튼 --- */
.cta {
  position: absolute;
  left: 50%;
  bottom: 68px;             
  transform: translateX(-50%);

  display: inline-flex;
  align-items: center;
  gap: 12px;

  padding: 15px 24px;
  border: none;
  border-radius: 16px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;

  background: #6A3DF6;
  color: #fff;
  cursor: pointer;
}

/* 이미지 때문에 생기는 마우스 이벤트 문제 처리*/
.cta img {
  pointer-events: none;
}


.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px clamp(16px, 5vw, 120px);
  box-sizing: border-box;
}