/* ---------- 전체 컨테이너 ---------- */
.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;

  font-size: 16px;
  color: #767676;
  font-family: "Noto Sans KR";
}

/* ----- 좌우 화살표 ----- */
.arrowBtn {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* 첫/마지막 페이지에서 비활성화 시킴 */
.arrowBtn:disabled {
  opacity: 0.3;
  cursor: default;
}

/* 페이지 번호 묶음 */
.pages {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* 페이지 숫자 버튼 */
.pageBtn {
  background: transparent;
  border: none;
  padding: 0;

  font-size: 18px;
  font-weight: 500;
  color: #767676;
  cursor: pointer;

  transform: translateY(-3px); /* 숫자만 3px 위로 -> 정렬 시킴*/
}

.pageBtn:hover {
  color: #5f37dd;
}

.pageBtn.active:hover {
  color: #5f37dd;
}

/* 활성화 됐을 때*/
.active {
  color: #6A3DF6;
}



/* ... 표시*/
.ellipsis {
  font-weight: 500;
  color: #767676;

  transform: translateY(-2px);
  display: inline-block;
}
