.wrapper {
    max-width: 792px;
    margin-top: 120px;
  }
  
  /* 섹션 타이틀 (개요) */
  .title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: black;
    font-family: "Gmarket Sans";
  }
  
  /* 본문 텍스트 */
  .text {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    color: #111;
    font-family: "Noto Sans KR";
    white-space: pre-line; 
  }
  